<!DOCTYPE html>
<html lang="en">

<head>

    {% include head.html %}

</head>

<body>

    {% include header-nav.html %}

    {{content}}

<footer>


    <div class="bg-orange text-beige object-center">

        <img src="images/newlogo.png" class="object-center">
    

        <div></div>

     

        </div> 

        <div class="bg-orange text-beige">
            <p class="uppercase text-xs p-6 border-t border-[#FBF2E9]"> Rising Femme Retreats </p>
        </div>

</footer>


<!--  This is linking the JS file in for the hamburger menu -->

    <script src="/assets/js/main.js"></script>

</body>
</html>